.friendList {
  background-color: #F5F5F5;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 16px 16px 32px #C4C4C4, -16px -16px 32px #E2E2E2;
}

