.transaction {
  background-color: #F5F5F5;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 16px 16px 32px #C4C4C4, -16px -16px 32px #E2E2E2;
}

th,
td {
  height: 50px;
  text-align: center;
  border: 1px solid #9B9B9B;
}

th {
  background-color: #EB7474;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

tr {
  background-color: #F5F5F5;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #F0ECEC;
}
